
<div class="container my-5">

  <div class="row">

    <div class="col-sm-12">

      <div class="row">

        <div class="col-sm-12">

          <h1 class="mainHdr">Artist API:</h1>

        </div>

      </div>

      <div class="row">

        <div class="col-sm-9">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla laborum laudantium vitae blanditiis adipisci molestiae, quibusdam esse ab illo reprehenderit, cumque velit ad, eaque, ex minima provident dolorem ducimus eum.</p>

          <div class="row mt-4">

            <div class="col-sm-6">

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis error similique ab labore quibusdam enim aliquam, optio minus nulla deserunt incidunt sapiente veritatis expedita aliquid unde ullam ipsam est, dicta.</p>

            </div>

            <div class="col-sm-6">

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis laboriosam nihil possimus velit, impedit, nulla beatae. Odit similique beatae at, eius ut quaerat facere veritatis quibusdam nulla, ipsam maiores facilis!</p>

            </div>

          </div>

        </div>

        <div class="col-sm-3">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime non, at modi esse quas saepe, nesciunt quae quia aliquam exercitationem dolor tenetur eveniet veniam, deserunt praesentium harum eos cupiditate repellat?</p>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="container my-3">

  <div class="row">

    <div class="col-sm-12">

      <div class="row">

        <div class="col-sm-4">

          <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
              <label for="queryArtist">Search:</label>
              <input type="text"
                     id="queryArtist"
                     class="form-control"
                     aria-describedby="emailHelp"
                     placeholder="Enter act"
                     ngModel
                     name="queryArtist"
                     required>
              <small id="emailHelp" class="form-text text-muted">Enter the name of a band or artist.</small>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </form>

        </div>

      </div>

    </div>

  </div>

</div>
<!--<div>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let artist of itunes.results">
      <img src="{{artist.thumb}}">
      <a target="_blank"
         href="{{artist.uri}}">{{ artist.title }}
      </a>
    </li>
  </ul>
</div>-->
<div class="container my-3">

  <div class="row">

    <div class="col-sm-12">

      <div class="row">

        <div class="col-sm-2" *ngFor="let artist of discogsQ.results">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="{{artist.thumb}}" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">{{ artist.title }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ artist.id }}</h6>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
              <!--<a href="" class="card-link"></a>-->
              <a class="btn btn-primary" (click)="onGetAlbums( artist.title )"> Get Albums</a>
            </div>
          </div>


        </div>

      </div>

    </div>





<div class="col-sm-12">

  <div class="row">

    <div class="col-sm-2" *ngFor="let album of discogsQ.albums">
      <div class="card" style="width: 9rem;">
        <img class="card-img-top" src="{{album.thumb}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">{{ album.title }}</p>
          <p class="card-subtitle mb-2 text-muted">{{ album.id }}</p>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--<a href="" class="card-link"></a>-->
          <a class="btn btn-primary" (click)="onSaveAlbum( album.id )">save Album</a>

        </div>
      </div>


    </div>

  </div>

</div>

  </div>

</div>







