<div class="row">
  <div class="col-sm-6">
    <h4>{{ album.artistsName }}</h4>
    <img src="{{album.images[0].uri150 }}" class="img-fluid" style="height:75px;width:75px;">
    <h6>{{ album.title }}</h6>
    <h6>{{ album.year }}</h6>
    <button type="submit" class="btn btn-danger mb-3" (click)="onDelete(album._id)">Delete</button>
  </div>
  <div class="col-sm-6">
    <h5>Songs</h5>
    <ul class="myMusicList"><li *ngFor="let song of album.tracklist">
      {{ song.title }}
    </li></ul>
  </div>
</div>
